{
  "openapi": "3.0.1",
  "info": {
    "title": "Service",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://commands.brigh.id"
    }
  ],
  "paths": {
    "/commands": {
      "get": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:List",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:CreateCommand",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{name}": {
      "put": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:UpdateCommand",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:DeleteCommand",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{name}/parser-restrictions": {
      "get": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:GetCommandParserRestrictions",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandParserRestrictions"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{name}/execute": {
      "post": {
        "tags": [
          "Command"
        ],
        "operationId": "Commands:ExecuteCommand",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              }
            }
          },
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Command": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/CommandType"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "requiredRole": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "embeddedLocation": {
            "$ref": "#/components/schemas/EmbeddedCommandLocation"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "argCount": {
            "type": "integer",
            "format": "int32"
          },
          "validOptions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommandParserRestrictions": {
        "type": "object",
        "properties": {
          "argCount": {
            "type": "integer",
            "format": "int32"
          },
          "validOptions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommandRequest": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CommandType"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "requiredRole": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "embeddedLocation": {
            "$ref": "#/components/schemas/EmbeddedCommandLocation"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "argCount": {
            "type": "integer",
            "format": "int32"
          },
          "validOptions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommandType": {
        "enum": [
          0
        ],
        "type": "integer",
        "format": "int32"
      },
      "EmbeddedCommandLocation": {
        "type": "object",
        "properties": {
          "downloadURL": {
            "type": "string",
            "nullable": true
          },
          "assemblyName": {
            "type": "string",
            "nullable": true
          },
          "typeName": {
            "type": "string",
            "nullable": true
          },
          "checksum": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExecuteCommandRequest": {
        "type": "object",
        "properties": {
          "arguments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "options": {
            "type": "object",
            "additionalProperties": { },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExecuteCommandResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "nullable": true
          },
          "replyImmediately": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    }
  }
}